# Backend (Spring Boot)
book-management-backend/target/
book-management-backend/.mvn/
book-management-backend/*.iml
book-management-backend/.idea/
book-management-backend/logs/
book-management-backend/*.log

# Frontend (Java Swing)
book-management-frontend/out/
book-management-frontend/*.iml
book-management-frontend/.idea/

# Général
*.class
*.log
*.DS_Store
